* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
margin: 0;
padding: 0;
}

// body {
//   font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   color: #5c5c5c;
//   background: #FFFFFF;
// }
// a {
//   color: #5c5c5c;
//   text-decoration: none;
// }
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

root {
  display: block;
}
root .loader {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 24px;
  display: block;
  text-align: center;
  font-weight: 900;
}


/* ---------------------------------- */
/* BASIC SETUP */
/* ---------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.main {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)), url('../img/duncan.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;

}

a:link,
a:visited {
    color: #192a56;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #192a56;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px transparent;
}
/* ---------------------------------- */
/* NAVBAR */
/* ---------------------------------- */


nav {
    background-color: #192a56; opacity: .8;
    border-bottom: 2px solid #C99700;
    border-top: 2px solid #C99700;
}

nav a img {
    width: 60px;
    padding-right: 10px;
}

nav a:link,
nav a:visited {
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    font-size: 140%;
    margin: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

nav a:hover,
nav a:active {
    border-bottom: 2px solid #C99700;
}


/* ---------------------------------- */
/* BUTTONS */
/* ---------------------------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 8px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #C99700;
    border: 1px solid #C99700;
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: #967100;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #967100;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #C99700;
    color: #967100;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #967100;
    color: #fff;
}

.submit-btn {
    font-size: 60%;
    text-transform: capitalize;
}

.search-btn {
    width: 200px;
}

/* ---------------------------------- */
/* FOOTER */
/* ---------------------------------- */

footer {
    background-color: #333;
    padding: 30px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
    transition: color 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-instagram:hover {
    color: #517fa4;
}

.footer-link {
    height: 40px;;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin: 0;
}

/* ---------------------------------- */
/* SEARCH */
/* ---------------------------------- */

.search {
    width: 80%;
    text-align: center;
    margin: 0 0 0 10%;
    padding-top: 13%;

}

h1 {
    color: #fff;
    font-size: 440%;
    letter-spacing: 1px;
}

.form-control {
    width: 500px;
}

.search-input {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 25px;
}

input {
    width: 90px;
}


/**
 *
 */

.app {
  margin-left: 250px;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#loading-bar,#loading-bar-spinner{pointer-events:none;-webkit-pointer-events:none;-webkit-transition:350ms linear all;-moz-transition:350ms linear all;-o-transition:350ms linear all;transition:350ms linear all}#loading-bar-spinner.ng-enter,#loading-bar-spinner.ng-leave.ng-leave-active,#loading-bar.ng-enter,#loading-bar.ng-leave.ng-leave-active{opacity:0}#loading-bar-spinner.ng-enter.ng-enter-active,#loading-bar-spinner.ng-leave,#loading-bar.ng-enter.ng-enter-active,#loading-bar.ng-leave{opacity:1}#loading-bar .bar{-webkit-transition:width 350ms;-moz-transition:width 350ms;-o-transition:width 350ms;transition:width 350ms;background:#29d;position:fixed;z-index:10002;top:0;left:0;width:100%;height:2px;border-bottom-right-radius:1px;border-top-right-radius:1px}#loading-bar .peg{position:absolute;width:70px;right:0;top:0;height:2px;opacity:.45;-moz-box-shadow:#29d 1px 0 6px 1px;-ms-box-shadow:#29d 1px 0 6px 1px;-webkit-box-shadow:#29d 1px 0 6px 1px;box-shadow:#29d 1px 0 6px 1px;-moz-border-radius:100%;-webkit-border-radius:100%;border-radius:100%}#loading-bar-spinner{display:block;position:fixed;z-index:10002;top:10px;left:10px}#loading-bar-spinner .spinner-icon{width:14px;height:14px;border:2px solid transparent;border-top-color:#29d;border-left-color:#29d;border-radius:50%;-webkit-animation:loading-bar-spinner 400ms linear infinite;-moz-animation:loading-bar-spinner 400ms linear infinite;-ms-animation:loading-bar-spinner 400ms linear infinite;-o-animation:loading-bar-spinner 400ms linear infinite;animation:loading-bar-spinner 400ms linear infinite}@-webkit-keyframes loading-bar-spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes loading-bar-spinner{0%{-moz-transform:rotate(0);transform:rotate(0)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes loading-bar-spinner{0%{-o-transform:rotate(0);transform:rotate(0)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes loading-bar-spinner{0%{-ms-transform:rotate(0);transform:rotate(0)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes loading-bar-spinner{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
